# <https://clang.llvm.org/docs/ClangFormatStyleOptions.html>

BasedOnStyle: Google
IndentWidth: 4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignEscapedNewlines: Left
AlignOperands: Align
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: True
AlwaysBreakTemplateDeclarations: Yes
AllowShortCaseLabelsOnASingleLine: True
BinPackArguments: False
BinPackParameters: False
BreakBeforeBinaryOperators: All
ColumnLimit: 0
SortIncludes: Never
BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: True
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: True
IncludeBlocks: Regroup
SeparateDefinitionBlocks: Always
SpaceBeforeCpp11BracedList: True
